@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181848;
  border-radius: 10px;
}

:root {
  --komika-hand: 'Croissant One', sans-seriff;
  --comic-neue: 'Comic Neue', cursive, sans-seriff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(24, 24, 72, 1), rgba(24, 24, 72, 0.7)), url('/src/assets/5172658.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.primary-font {
  font-family: var(--komika-hand);
}

.secondary-font {
  font-family: var(--comic-neue);
}

.align-menu {
  @apply flex items-center gap-[10px] text-lg cursor-pointer;
}

#stack-container > div {
  @apply max-w-xs bg-stackBackground p-3 rounded-lg shadow-lg shadow-black;
}

#works-container > div {
  @apply bg-stackBackground rounded-lg shadow-lg shadow-black;
}

#stack-container h4 {
  @apply text-2xl pb-2 font-bold;
}

.grid-layout {
  @apply grid grid-cols-3 content-center gap-2;
}

.grid-layout > span {
  @apply flex flex-col items-center justify-center rounded-lg p-1 gap-2;
}

.grid-layout > span:nth-child(even) {
  @apply bg-[#181848];
}

.grid-layout > span:nth-child(odd) {
  @apply bg-black;
}

.tech-stacks {
  @apply bg-black py-1 px-2 rounded-md;
}

.grid-layout > span:hover,
.tech-stacks:hover {
  @apply animate-hover-stacks;
}

#about-container,
#front-end-container,
#back-end-container,
#technologies-container {
  @apply opacity-0 translate-y-[20px] transition-about-menu;
}

#about-container.animate,
#front-end-container.animate,
#back-end-container.animate,
#technologies-container.animate {
  @apply opacity-[1] translate-y-0;
}

.works-links {
  @apply flex justify-center items-center gap-2 hover:animate-hover-links;
}

.formInputs {
  @apply w-[80%] max-w-[20rem] bg-transparent secondary-font text-white rounded-md py-2 px-4 border-b-2 border-green-500;
}

.formInputs::placeholder {
  @apply text-white;
}

.formInputs:focus {
  @apply outline-0 animate-focus-input;
}

.submit-button {
  @apply secondary-font shadow-submit-button py-1 px-4 rounded-md border-2 border-green-500;
}

@media only screen and (min-width: 1280px) {
  #about-container {
    @apply text-justify;
  }

  #works-container {
    @apply grid-cols-2;
  }
}

@media only screen and (min-width: 2000px) {
  #works-container {
    @apply grid-cols-3;
  }
}
