@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

:root {
  --komika-hand: 'Croissant One', sans-seriff;
  --comic-neue: 'Comic Neue', cursive, sans-seriff;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(24, 24, 72, 1), rgba(24, 24, 72, 0.7)), url('/src/assets/5172658.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.primary-font {
  font-family: var(--komika-hand);
}

.secondary-font {
  font-family: var(--comic-neue);
}

.align-menu {
  @apply flex items-center gap-[10px] text-lg cursor-pointer;
}

#stack-container > div {
  @apply max-w-xs bg-stackBackground p-3 rounded-lg shadow-lg shadow-black;
}

#stack-container h4 {
  @apply text-2xl pb-2 font-bold;
}

.grid-layout {
  @apply grid grid-cols-3 content-center gap-2;
}

.grid-layout > span {
  @apply flex flex-col items-center justify-center rounded-lg p-1 gap-2;
}

.grid-layout > span:nth-child(even) {
  @apply bg-[#181848];
}

.grid-layout > span:nth-child(odd) {
  @apply bg-[#304878];
}

@media only screen and (min-width: 1280px) {
  body {
    overflow: hidden;
  }
}
